<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Avalon: lobby</title>
    <script src="/lobby.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
WITAMY W LOBBY<br><br>
<form action="/lobby/create_game" method="post">
    <input type="text" name="gameRoomName">
    <input type="hidden" name="userApiKey" th:value="${api_key}">
    <input type="submit"/>
</form><br><br>
<table id="activeGames">
    <thead>
    <tr>
        <th>Active Games</th>
    </tr>
    </thead>
    <tbody id="greetings">

    </tbody>
</table>
<script th:inline="javascript">
    var apk = /*[[${api_key}]]*/ 'default';
    console.log(apk);

    connect(apk);

</script>
</body>
</html>