<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>LOBBY | AVALON</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/style.css" rel="stylesheet">
        <script src="/lobby.js"></script>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    </head>
    <body onbeforeunload="return disconnect()">
        <div class="container">
            <div class="center">
            <div class="row">
                <h1>
                    WITAMY W LOBBY
                </h1>
            </div>
            <div class="row">
                <h2>
                    AKTYWNE GRY
                </h2>
            </div>
            <div class="row">
                <ul class="gamelist">

                </ul>
            </div>
            <div class="row">
                <h2>
                    UTWÓRZ GRĘ
                </h2>
            </div>
            <div class="row create-game">
                <form action="/lobby/create-game" method="post">
                    <input id="game_title" type="text" name="gameRoomName" placeholder="Podaj nazwę tworzonej gry"><br>
                    <input type="hidden" name="userApiKey" th:value="${api_key}">
                    <input type="submit" value="Stwórz grę"/>
                </form>
            </div>
        </div>
        </div>
        <script th:inline="javascript">
            apk = /*[[${api_key}]]*/ 'default';
            console.log(apk);

            lobbyGames = /*[[${games}]]*/ 'default';

            updateGamesView();
            stomp_connect();
        </script>
    </body>
</html>