<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Avalon</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div >
    <form action="login" method="post">
        <div class="imgcontainer" style="text-align: center;">
            <img src="placeholder%20logo.jpg" alt="Avatar" class="avatar">
        </div>

        <div class="log-form" >
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required><br>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required><br>

            <button type="submit">Login</button>
            <p th:text="${failed_reason}" />
        </div>

    </form>
</div>
</body>
</html>