<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login | AVALON</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="center">
                <div class="row">
                    <div class="logo">
                        <img src="avalon.png" alt="logo">
                    </div>    
                </div>
                <div class="row">
                    <form class="login-form" action="login" method="post">
                        <input type="text" name="username" placeholder="Wpisz swój login"><br>
                        <input type="password" name="password" placeholder="Podaj hasło"><br>
                        <input type="submit" value="Zaloguj">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>